<!DOCTYPE html>
<html>
<head>
    <title>Disease Predictor</title>
</head>
<body>
    <h1>Disease Predictor</h1>

    <form action="/predict" method="post">
        
        {% for i in range(1,11) %}
        <div style="margin-bottom: 20px;">
        <label for="symptom{{ i }}">Symptom {{ i }}:</label>
        <select id="symptom{{ i }}" name="symptom{{ i }}" style="width: 300px;"> <!-- Adjust width as needed -->
            {% for symptom in symptom_options %}
            <option value="{{ symptom }}">{{ symptom }}</option>
            {% endfor %}
        </select>
    </div>
        {% endfor %}

        <input type="submit" value="Predict">
    </form>
</body>
</html>
